<div class='col'>
  <div class='card'>
    <div class='card-img-wrapper'>
      <img src='{{image_source}}' class='card-img-top' alt='{{name}}' />
    </div>
    <div class='card-body text-center'>
      <h5 class='card-title'>
        <a href='/api/destinations/{{id}}' class='card-link'>{{name}}</a>
      </h5>
      <p class='card-text'>{{location}}</p>
    </div>
  </div>
</div>