<a class="nav-link active" href="/destination/{{id}}">

<div class="container mt-5" id="destination-cards">
  <h4>Where to Go</h4>

  <div class="row row-cols-2 g-4">

  {{#each this}}

  <div class="col">
    <div class="card">

      <img src="{{ image_source }}" class="card-img-top h-30" alt="{{ name }}">

      <div class="card-body">
        
        <h5 class="card-title">{{ name }}</h5>

        <p class="card-text">{{ location }}</p>

        <a href="/destination/{{id}}" class="btn button mt-auto">Read More</a> <!-- "Read More" button -->

      </div>
    </div>
  </div>
  {{/each}}
  </div>
 
</div>

</a>



 