<div class="col">
  <div class="card">
    <img src="{{image_source}}" class="card-img-top h-30" alt="{{name}}">
      <h5 class="card-title">{{name}}</h5>
      <p class="card-text">{{location}}</p>
      <p class="card-text">{{description}}</p>
      <a href="/destination/{{id}}" class="btn button mt-auto">Read More</a>
  </div>
</div>




 